﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">Luci</p>
		<p class="profilemsg">明日できることは今日するな</p>
	</div>

</div>
</body>