﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">レオリ</p>
		<p class="profilemsg">かろうじて外にでる</p>
	</div>

</div>
</body>