﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">ikimura</p>
		<p class="profilemsg">「NEET株式会社はアートである」</p>
	</div>

</div>
</body>