﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">tsuka</p>
		<p class="profilemsg">ニートが日本を救う</p>
	</div>

</div>
</body>