﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">圓道寺淳一</p>
		<p class="profilemsg">いくつになっても、ネクタイがうまく結べない。</p>
	</div>

</div>
</body>