﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">nj</p>
		<p class="profilemsg">今日は何もなかった。明日も何もないだろう。</p>
	</div>

</div>
</body>