﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">ナオアーキ</p>
		<p class="profilemsg">ニートを追うものは、いいと思えず。</p>
	</div>

</div>
</body>