﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">ブータン</p>
		<p class="profilemsg">電車の椅子がじんじんあったかい</p>
	</div>

</div>
</body>