﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">猫舌ひよこ</p>
		<p class="profilemsg">一番の旬は、食べたいと思ったそのとき。</p>
	</div>

</div>
</body>