﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">sanmo</p>
		<p class="profilemsg">人間万事塞翁が馬</p>
	</div>

</div>
</body>