﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">ぶっとび王子</p>
		<p class="profilemsg">乗りかけた船にはためらわずに乗ってしまえ</p>
	</div>

</div>
</body>