﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">掛上　瞬</p>
		<p class="profilemsg">NEETの価値ならNEET自身で決めるよ</p>
	</div>

</div>
</body>