﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">新しいせきちゃ</p>
		<p class="profilemsg">好物はハイカロリー高タンパク質。</p>
	</div>

</div>
</body>