﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">とろろいも</p>
		<p class="profilemsg">行き詰まったときは切り上げよ</p>
	</div>

</div>
</body>