﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">暖簾</p>
		<p class="profilemsg">果報は寝て待て。三年寝たろう。</p>
	</div>

</div>
</body>