﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">なかさま</p>
		<p class="profilemsg">郷に入っても郷に従いたくない</p>
	</div>

</div>
</body>