﻿<body id="bodystyle">
<div id="profileblock">

	<div id="profiletext">
		<p class="chui">※社長は日直制で日替わりです</p>
		<p id="profileauthor">野吉</p>
		<p class="profilemsg">今日も張り切ってｇｄｇｄする</p>
	</div>

</div>
</body>