﻿body
{
	width: 100%;  height: 100%;
	margin: 0px;  padding: 0px;
	background-image:url(../images/bg.png);
	background-color: #FFFFFF;
	font-family: "HG丸ｺﾞｼｯｸM-PRO", "ＭＳ Ｐゴシック", "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro";
	font-size: 14px;
	line-height: 24px;
}

img { border-width: 0px; }

a { text-decoration: none; }

#world
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background-color: #FFFFFF;
	width: 924px;
	border: 1px solid #808080;
	border-top-width: 0px;
}
