.box { float:left; }

#topmenu
{
    position: fixed;
    z-index: 100;
    background-color: #FFFFFF;
	border-bottom: 1px solid #808080;
}

.mains
{
	padding:20px;
	padding-top:0px;
	height:360px;
}

.list
{
	background-image:url(../images/news.jpg);
	width:590px;
	height:160px;
	padding:20px;
}
.pstn
{
	background-image:url(../images/news.jpg);
	background-position:center;
	width:590px;
	height:160px;
	overflow:auto;
}

#about
{
	margin:0 auto;
	font-size:14px;
	line-height:21px;
}

.corp
{
	width: 880px;
	height:500px;
	margin-left:22px;
}
.name
{
	color:#EEEEEE;
	text-shadow:
		-1px -1px #000, 1px -1px #000, -1px  1px #000, 1px 1px #000,
		-1px  0px #000, 1px  0px #000,  0px -1px #000, 0px 1px #000;
}

#cp1
{
	background-image:url(../images/tab001.jpg);
	display:block;
}
#cp2
{
	background-image:url(../images/tab002.jpg);
	display:none;
}
#cp3
{
	background-image:url(../images/tab003.jpg);
	display:none;
}
#cp4
{
	background-image:url(../images/tab004.jpg);
	display:none;
}
#cp5
{
	background-image:url(../images/tab005.jpg);
	display:none;
}
#hello
{
	position:relative;
	left:80px;
	top:40px;
}

.greet
{
	height: 360px;
	padding-left:28px;
}
.face
{
/*	border: 1px solid #808080;*/
	margin-top:60px;
	float:left;
}
.message
{
	width:616px;
	float:left;
	margin-top:32px;
	padding-left:18px;
	font-size:14px;
	line-height:21px;
}

.history
{
	margin-left: 40px;
	margin-top: 50px;
	margin-bottom:20px;
	width:800px;
	height:540px;
	padding:20px;
	padding-top:16px;
	background-image:url(../images/photo.jpg);
	background-position:right;
	background-repeat:no-repeat;
/*	border: 1px solid #808080;*/
}

.proj1
{
	width: 180px;
	float: left;
	position:relative;
	left:-10px;
}

.proj2
{
	width: 390px;
	float: left;
	position:relative;
	left:-20px;
}

#footer
{
	background-image:url(../images/web_12.jpg);
	width:539px;
	height:101px;
	margin:0 auto;
}
