.newsbox
{
	width: 470px;
	margin:30px;
	float:left;
	display:none;
}

.newstext
{
	background-image:url(../images/receipt.jpg);
	height:545px;
	padding:20px;
	padding-top:5px;
	padding-left:30px;
}

.listbox
{
	background-image:url(../images/nf.jpg);
	background-position:right;
	background-repeat:no-repeat;
	width:170px;
	height:250px;
	padding:20px;
}

.listpstn
{
	background-image:url(../images/nf.jpg);
	background-position:center;
	width:170px;
	height:250px;
	overflow: auto;
}

.title
{
	font-size:26px;
	line-height: 39px;
}
