﻿#profileblock:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#profileblock {
	width: 835px;
	padding-top: 80px;
	padding-left: 80px;
	position: abusolute;
}

#bodystyle {
	background-image: url(../images/tab003.jpg);
	background-repeat: no-repeat;
}

#profiletext {
	float: left;
	margin-bottom: 0;
	margin-left: 5px;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	width: 460px;
}

#profileauthor {
	font-size: 48px;
	font-family: "HGP行書体", "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	letter-spacing: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	color: #EEEEEE;
	line-height: 24px;
	display: block;
}

#profiletext a:link {
	color: #0000FF;
}

#profiletext a {
	-moz-text-blink: none;
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: none;
	-moz-text-decoration-style: solid;
}

p.profilemsg {
	font-size: 32px;
	font-family: "HGP行書体", "ＭＳ Ｐ明朝", "細明朝体", "ヒラギノ明朝 Pro W3";
	letter-spacing: 0;
	line-height: 1.4;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 20px;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	color: #EEEEEE;
	display: block;
}

p.chui {
	position:relative;
	top:340px;
	left:180px;
	color: #EEEEEE;
}

#profiletext a:link {
	color: #0000FF;
}

#profiletext a {
	-moz-text-blink: none;
	-moz-text-decoration-color: -moz-use-text-color;
	-moz-text-decoration-line: none;
	-moz-text-decoration-style: solid;
}
